@tailwind base;
@tailwind components;
@tailwind utilities;

html,

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #008bcc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.header-background {
  position: relative;
}

.header-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/nelo_classroom.png'); /* replace 'your-image-file.png' with the name of your image */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 1;
  z-index: -1;
}

  
  